@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #f3f4f6;
}

.button-get-coupon {
  background-color: #ffc107;
  color: #fff;
  border-radius: 5px;
  padding: 10px 35px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.button-get-coupon:hover {
  background-color: #daa300;
  color: #fff;
}

.text-primary {
    color: #f9b529;
}

.text-primary-lite {
    color: #fac251;
}

.text-secondary {
    color: #294356;
}

.text-secondary-lite {
    color: #d5dee5;
}

.bg-primary {
    background-color: #f9b529;
}

.bg-primary-lite {
    background-color: #fac251;
}

.bg-secondary {
    background-color: #294356;
    color: #d5dee5;
}

.bg-secondary-lite {
  background-color: #d5dee5;
}

.bg-green {
    background-color: rgb(21 128 61);
}
.bg-red {
  background-color: rgb(185 28 28);
}
.bg-orange {
  background-color: rgb(194 65 12);
}

.product {
  background-image: url('https://i.ibb.co/L00dH6V/2021-11-07-14h07-51.png');
}
.product2 {
  background-image: url('https://i.ibb.co/1fZMKPh/2021-11-07-14h08-07.png');
}
.product3 {
  background-image: url('https://i.ibb.co/f9tpvV3/2021-11-07-14h08-32.png');
}
.product4 {
  background-image: url('https://i.ibb.co/42BsKQ2/2021-11-07-14h08-17.png');
}

table.adjusts-table
{
  table-layout: auto;
  width: 100%;
}

.value-discount
{
  /* background-color: #f9b529; */
  width: 100%;
  height: 35px;
  
  /* opacity: 0.5;
  filter: bac; */
  
  /* transform: rotate(-45deg); */
  
  display: flex;
  align-items: center;
  justify-content: center;

  /* position: absolute; */
}

.initialism {
  font-size: 90%;
  text-transform: uppercase;
}